body {
  main {
    .todo-container {
      position: absolute;
      top: 200px;
      left: 50%;
      transform: translateX(-50%);
      width: 90%;
      min-height: 350px;
      border-radius: 5px;
      .todo-lists {
        list-style: none;
        li {
          width: 100%;
          display: flex;
          position: relative;
          padding-left: 4rem;
          margin: 2rem 0;
          font-size: calc(12rem / 16);

          .tick,
          .cross {
            width: 25px;
            height: 25px;
            position: absolute;
          }
          .tick {
            left: 20px;
            border-radius: 50%;
            background: transparent;
            border: 1px solid #e3e4f1;
          }
          .completed {
            background: $primary-check-background;
          }
          .cross {
            right: 20px;
            background: url(./images/icon-cross.svg) no-repeat;
            background-position: center;
            border: none;
          }
        }
      }
    }
  }
}

.light {
  main {
    .todo-container {
      background-color: $lt-very-light-gray;

      .todo-lists {
        li {
          color: $lt-very-dark-grayish-blue;
        }
      }
    }
  }
}

.dark {
  main {
    .todo-container {
      background-color: $dt-very-dark-desaturated-blue;
      .todo-lists {
        li {
          color: $dt-light-grayish-blue;
          .circle {
            border: 1px solid #393a4b;
          }
          .cross {
            border: none;
          }
        }
      }
    }
  }
}
